CheckOptions:    
  - key:             modernize-loop-convert.NamingStyle
    value:           lower_case
  - key:             readability-function-size.BranchThreshold
    value:           '15'
  - key:             readability-function-size.LineThreshold
    value:           '300'
  - key:             readability-function-size.NestingThreshold
    value:           '5'
  - key:             readability-function-size.ParameterThreshold
    value:           '10'
  - key:             readability-function-size.StatementThreshold
    value:           '150'
  - key:             readability-identifier-naming.Namespace
    value:           lower_case
  - key:             readability-identifier-naming.InlineNamespace
    value:           lower_case
  - key:             readability-identifier-naming.EnumConstant
    value:           lower_case
  - key:             readability-identifier-naming.ConstexprVariable
    value:           lower_case
  - key:             readability-identifier-naming.ConstantMember
    value:           lower_case
  - key:             readability-identifier-naming.PrivateMember
    value:           lower_case
  - key:             readability-identifier-naming.ProtectedMember
    value:           lower_case
  - key:             readability-identifier-naming.PublicMember
    value:           lower_case
  - key:             readability-identifier-naming.Member
    value:           lower_case
  - key:             readability-identifier-naming.ClassConstant
    value:           lower_case
  - key:             readability-identifier-naming.ClassMember
    value:           lower_case
  - key:             readability-identifier-naming.GlobalConstant
    value:           lower_case
  - key:             readability-identifier-naming.GlobalVariable
    value:           lower_case
  - key:             readability-identifier-naming.LocalConstant
    value:           lower_case
  - key:             readability-identifier-naming.LocalVariable
    value:           lower_case
  - key:             readability-identifier-naming.StaticConstant
    value:           lower_case
  - key:             readability-identifier-naming.StaticVariable
    value:           lower_case
  - key:             readability-identifier-naming.Constant
    value:           lower_case
  - key:             readability-identifier-naming.Variable
    value:           lower_case
  - key:             readability-identifier-naming.ConstantParameter
    value:           lower_case
  - key:             readability-identifier-naming.ParameterPack
    value:           lower_case
  - key:             readability-identifier-naming.Parameter
    value:           lower_case
  - key:             readability-identifier-naming.AbstractClass
    value:           lower_case
  - key:             readability-identifier-naming.Struct
    value:           lower_case
  - key:             readability-identifier-naming.Class
    value:           lower_case
  - key:             readability-identifier-naming.Union
    value:           lower_case
  - key:             readability-identifier-naming.Enum
    value:           lower_case
  - key:             readability-identifier-naming.GlobalFunction
    value:           lower_case
  - key:             readability-identifier-naming.ConstexprFunction
    value:           lower_case
  - key:             readability-identifier-naming.Function
    value:           lower_case
  - key:             readability-identifier-naming.ConstexprMethod
    value:           lower_case
  - key:             readability-identifier-naming.VirtualMethod
    value:           lower_case
  - key:             readability-identifier-naming.ClassMethod
    value:           lower_case
  - key:             readability-identifier-naming.PrivateMethod
    value:           lower_case
  - key:             readability-identifier-naming.ProtectedMethod
    value:           lower_case
  - key:             readability-identifier-naming.PublicMethod
    value:           lower_case
  - key:             readability-identifier-naming.Method
    value:           lower_case
  - key:             readability-identifier-naming.Typedef
    value:           lower_case
  - key:             readability-identifier-naming.TypeTemplateParameter
    value:           lower_case
  - key:             readability-identifier-naming.ValueTemplateParameter
    value:           lower_case
  - key:             readability-identifier-naming.TemplateTemplateParameter
    value:           lower_case
  - key:             readability-identifier-naming.TemplateParameter
    value:           lower_case
  - key:             readability-identifier-naming.TypeAlias
    value:           lower_case
  - key:             readability-identifier-naming.MacroDefinition
    value:           lower_case
